
<div class="p-3 border-bottom">
  <div class=" d-flex p-2 justify-content-between bg-dark text-white"  >
  
  <h3 class="mb-1">{{data?.topic}}</h3>
  <h5 routerLink="/profile/{{data?.owner}}">{{data?.owner}}</h5>
  <small>{{data?.date}}</small> 
</div>
  <p class="mb-1">{{data?.content}}</p>
  <i *ngIf="authService.loggedIn()" style="float:right; margin-top:15px; font-size: 25px; color: rgb(197, 34, 34);" class="fa fa-heart" (click)="likePost(data?._id)"></i>
  <br>
  <small>Likes {{data?.votes}}</small>
</div>
<!--*ngFor="let commet of comments"-->
<div class="list-group p-3 ">
  <li style="background-color:gray" *ngFor="let comment of data?.comments" class="list-group-item list-group-item-action flex-column align-items-start text-white">
      <div >
          <div style="background-color:rgb(72, 72, 72)" class="d-flex p-2 w-100 justify-content-between"  >
          <small routerLink="/profile/{{comment[1]}}">{{comment[1]}}</small>
          <small>{{comment[5]}}</small>
          </div>
          <p class="mb-2">{{comment[2]}}</p>

          <i *ngIf="authService.loggedIn()" style="float:right; margin-top:15px; font-size: 25px; color: rgb(197, 34, 34);" class="fa fa-heart" (click)="likeComment(comment)"></i>
          <br>
          <small>Likes {{comment[4]}}</small>
      </div>
      
  </li>
</div>

<div class="text-center marging-auto" style="margin: 10px;">
  <button *ngIf="authService.loggedIn()" class="btn btn-primary" (click)="opencommentform = !opencommentform">Comment</button>
</div>

<div [hidden]="!opencommentform">
  <form class="form-horizontal jumbotron bg-dark text-white" (submit)="sendComment()">
  <fieldset>
    <legend>New comment</legend>
    <div class="form-group">
      <label class="col-lg-2 control-label">Answer</label>
      <div class="col-lg-10">
        <textarea class="form-control" rows="3" [(ngModel)]="content" name="content" placeholder="What you have say about"></textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="reset" class="btn btn-default" (click)="opencommentform = !opencommentform">Cancel</button>
        <button type="submit" class="btn btn-primary" value="Send">Submit</button>
      </div>
    </div>
  </fieldset>
</form>
</div>