<div class="jumbotron bg-dark text-white text-center" style="background-image: url(../../../baseline_rocket_launch_black_24dp.png) ;">
  <h1>Stuck Space</h1>
  <p class="lead"> Stuck with your code? Don't understand why your front end is messed up? Don't know what to do next? Don't worry, you are not alone. Welcome to Stuck Space where programmers can ask for help and help eachothers to solve the problems</p>
  <div>

    <!--<a class="btn btn-primary" [routerLink]="['register']"> Register</a>
    <a class="btn btn-default" [routerLink]="['login']"> Login</a>-->
    <a *ngIf="!authService.loggedIn()" class="btn btn-primary" [routerLink]="['register']"> Register</a>
    <a *ngIf="!authService.loggedIn()" class="btn btn-default" [routerLink]="['login']"> Login</a>
    
  </div>
</div>

